notebooks/
*.DS_Store/
*.ipynb_checkpoints/
*.csv
*.xlsm
*.png
*.svg
*__pycache__
*.vscode/
*.pyc
themepy.egg-info
themepy.egg-info/
pip-wheel-metadata
env
.DS_Store
themepy/.DS_Store
dist/.DS_Store
build/